<section id="footer_block">	
	<div class="footer__separator">
		<div class="container">
			<div class="row">
				<div class="footer__separator-col-link">
					<a href="#" class="footer__separator-link">Check out our portfolio for more <i class="icon icon-arrow"></i></a>
				</div>
				<div class="footer__separator-col-buttons">
					<a href="#" class="btn__link subscribe__btn bg-transparent">Subscribe</a>
					<a href="#" class="btn__link started__btn">Get started</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__counter">
		<div class="container">
			<div class="row">
				<div class="footer__counter-col">
					<i class="icon icon-male-user"></i>
					<span class="count__strong">748K</span>
					<p class="count__descr">Fans on twitter</p>
				</div>
				<div class="footer__counter-col">
					<i class="icon icon-heart"></i>
					<span class="count__strong">43K</span>
					<p class="count__descr">likes on facebook</p>
				</div>
				<div class="footer__counter-col">
					<i class="icon icon-wallet"></i>
					<span class="count__strong">9351</span>
					<p class="count__descr">Monthly sales</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__about">
		<div class="slider">
			<a href="#" class="control_prev">&#10094</a>
			<a href="#" class="control_next">&#10095</a>
			<ul>
				<li>
					<h2 class="subtitle">What clients say about us?</h2>
					<p class="subtext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
						laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
						veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				</li>
				<li>
					<h2 class="subtitle">When clients say about us?</h2>
					<p class="subtext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
						laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
						veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				</li>
				<li>
					<h2 class="subtitle">Which clients say about us?</h2>
					<p class="subtext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
						laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
						veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				</li>
			</ul>
		</div>
		<!--<div class="slidershow">-->
			<!--<div class="mySlides fade">-->
				<!--<h2 class="sub_title">What clients say about us?</h2>-->
				<!--<p class="sub_text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque-->
					<!--laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore-->
					<!--veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>-->
			<!--</div>-->
			<!--<div class="mySlides fade">-->
				<!--<h2 class="sub_title">What clients say about us?</h2>-->
				<!--<p class="sub_text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque-->
					<!--laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore-->
					<!--veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>-->
			<!--</div>-->
			<!--<div class="mySlides fade">-->
				<!--<h2 class="sub_title">What clients say about us?</h2>-->
				<!--<p class="sub_text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque-->
					<!--laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore-->
					<!--veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>-->
			<!--</div>-->
			<!--<a class="prev" onclick="plusSlides(-1)">&#10094</a>-->
			<!--<a class="next" onclick="plusSlides(1)">&#10095</a>-->
		<!--</div>-->
	</div>
	<div class="footer__contact" style="background-image: url(img/map-pattern.png)">
		<div class="main-container">
			<div class="row">
				<div class="footer__contact-col logo-contact">
					<h3 class="sub-title decoration">Octavia</h3>
					<p class="contact__descr">The last Wordpress theme <br>you will ever need.</p>
				</div>
				<div class="footer__contact-col">
					<h3 class="sub-title decoration">Social media</h3>
					<ul class="social__list">
						<li><a href="https://www.instagram.com"><i class="icon icon-instagram-64"></i></a></li>
						<li><a href="https://twitter.com"><i class="icon icon-twitter-64"></i></a></li>
						<li><a href="https://uk-ua.facebook.com/"><i class="icon icon-facebook-64"></i></a></li>
					</ul>
				</div>
				<div class="footer__contact-col map-text">
					<h3 class="sub-title decoration">Address</h3>
					<div class="contact__descr-holder">
						<p class="contact__descr">1731 Bunker Hill Road Northeast <br>Washington, DC 20017 </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__copyrights">
		Copyrights 2015 © Octavia / <span>Available For Purchase</span>
	</div>
</section>