<header>
	<div id="header__menu">
		<div class="container">
			<div class="top-menu">
				<div class="logo">
					<img src="img/your-logo-here.png" class="your__logo" alt="">
				</div>
				<nav class="m_main__navigation">
					<a class="close_menu">&times;</a>
					<li><a href="#welcome_block" class="m-menu">About</a></li>
					<li><a href="#section-why" class="m-menu">Functions</a></li>
					<li><a href="#started_block" class="m-menu">Order</a></li>
					<li><a href="#latest-projects-container" class="m-menu">Products</a></li>
					<li><a href="#our_latest_project" class="m-menu">Portfolio</a></li>
					<li><a href="#footer_block" class="m-menu">Our clients</a></li>
				</nav>
				<nav id="main__navigation">
					<a href="#welcome_block" class="menu__link">About</a>
					<a href="#section-why" class="menu__link">Functions</a>
					<a href="#started_block" class="menu__link">Order</a>
					<a href="#latest-projects-container" class="menu__link">Products</a>
					<a href="#our_latest_project" class="menu__link">Portfolio</a>
					<a href="#footer_block" class="menu__link">Our clients</a>	
				</nav>
				<div class="finder__menu">
					<form style="display: inline">
						<input class="find find_search" type="text" name="search" placeholder="Search..">
					</form>
					<a href="#" class="buy__button">Purchase This</a>
					<button class="slide__menu"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="header-content">
		<div class="main-container">
			<h1 class="header-title">The last wordpress theme</h1>
			<h2 class="header-subtitle">you’ll ever need</h2>
			<div class="header-pointer">
				<a href="#welcome_block"></a>
			</div>
		</div>
	</div>
</header> 