<section id="our_latest_project">
	<div class="container">
		<div class="our_lates_projects">
	        <h2 class="sub-title decoration">Our latest projects</h2>
	        <p class="project-paragraph project-paragraph-our">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
    	</div>
     	<div class="gallery">
           	<div class="project-list">
            	<div class="project-item">
                	<img src="img/image-1.png">
                	<div class="item-info">
                    	<div class="item-in">
                        	<h3 class="exclusive_branding">Exclusive Branding</h3>
                        	<p class="date">7th July, 2015</p>
                    	</div>
                	</div>
            	</div>
            	<div class="project-item">
                	<img src="img/image-2.png">
                	<div class="item-info">
                    	<div class="item-in">
                        	<h3 class="exclusive_branding">Exclusive Branding</h3>
                        	<p class="date">7th July, 2015</p>
                    	</div>
                	</div>
            	</div>
            	<div class="project-item">
                	<img src="img/image-3.png">
                	<div class="item-info">
                    	<div class="item-in">
                        	<h3 class="exclusive_branding">Exclusive Branding</h3>
                        	<p class="date">7th July, 2015</p>
                    	</div>
                	</div>
            	</div>
            	<div class="project-item">
                	<img src="img/image-4.png">
                	<div class="item-info">
                    	<div class="item-in">
                        	<h3 class="exclusive_branding">Exclusive Branding</h3>
                        	<p class="date">7th July, 2015</p>
                    	</div>
                	</div>
            	</div>
        	</div>
     	</div>
	</div>
</section>